.wrap {
  /* width: 1920px; */
  margin: auto;
  background-color: #d2e5ff;
}
/* 헤더 */
header {
  position: fixed;
  top: 0;
  width: 100%;
  /* width: 1920px; */
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #bcd8ff; */
  background-color: #fff;
  /* opacity: 0; */
  box-shadow:  0 5px 10px rgba(0, 0, 0, 0.1);
}
/* 로고 */
.header-logo img {
  width: 120px;
  padding: 10px 20px;
  filter: brightness(0.3);
}
/* 헤더 오른쪽 */
.header-right {
  display: flex;
  gap: 50px;
}
/* 메뉴 */
.header-menu {
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 10px;
}
.header-menu i {
  font-size: 20px;
  /* font-weight: 400; */
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.my {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
/* view-more */
.view-more {
  width: 80px;
  padding: 20px;
  text-align: center;
  font-size: 25px;
}
/* 메인 */
main {
  margin-top: 80px;
}
main .inner {
  max-width: 1400px;
  margin: auto;
  padding: 80px 0;
}
main .inner h1{
  color: #0043a3;
  padding-bottom: 30px;
}
/* 스토리 */
.story {
  display: flex;
  align-items: center;
  gap: 50px;
}
.story-img {
  width: 250px;
  /* background-color: yellowgreen; */
}
.story-img img {
  width: 100%;
  /* display: block; */
}
.story-txt {
  color: #0043a3;
}
/* 키워드 */
.story-keyword {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
.story-keyword .txt {
  color: #0043a3;
  display: flex;
  gap: 20px;
  align-items: center;
}
.story-keyword .keyword {
  min-width: 130px;
  height: 130px;
  background: radial-gradient(circle, #ffffff, #c4dbfd, #72abff);
  border-radius: 10px 100px 100px 100px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.story-keyword h3 {
  margin: 0;
}
.story-keyword .desc {
}
/* 푸터 */
footer {
  /* width: 1920px; */
  height: 377px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #022b65;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .inner {
  width: 750px;
  margin: auto;
  /* background-color: rgb(60, 138, 95); */
}
footer ul {
  display: flex;
}
.company,
.tel,
.address,
.sns,
.copyright {
  margin: 30px 0;
}
/* 회사주소 */
.address {
  display: flex;
  flex-wrap: wrap;
}
/* SNS */
.sns ul {
  gap: 22px;
}
.sns ul li {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  padding: 10px;
  background-color: #bcd8ff;
}
.sns img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}
footer span {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 15px;
}
