body{
  font-family: "Pretendard";
   letter-spacing: 0.05em;
   line-height: 1.5rem;
}
/* gotop */
#gotop {
  position: fixed;
  bottom: 10%;
  right: 5%;
  padding: 20px;
  border-radius: 50%;
  background-color: #0043a3;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  display: none;
}

/* 전체 영역 */
.wrap {
  min-width: 390px;
  /* max-width: 1400px; */
  /* margin: auto; */
  background-color: #d2e5ff;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #bcd8ff; */
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
/* 로고 */
.header-logo img {
  width: 10%;
  max-width: 120px;
  min-width: 100px;
  padding: 10px 20px;
  filter: brightness(0.3);
}
/* 헤더 오른쪽 */
.header-right {
  display: flex;
  gap: 50px;
}
/* 메뉴 */
.header-menu {
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 10px;
}
.header-menu i {
  font-size: 20px;
  /* font-weight: 400; */
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.my {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
/* view-more */
.view-more {
  /* width: 80px; */
  /* padding: 20px; */
  text-align: center;
  font-size: 25px;
}
/* 메인 */
main {
  width: 100%;
  margin-top: 80px;
  background-color: #fff;
}
main .inner {
  width: 50%;
  margin: auto;
  background-color: #d2e5ff;
}
/* 구매 영역 */
.pay {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  padding: 100px 0;
  background-color: #fff;
}

/* 상품 이미지 */
.pay .img-box {
  width: 200px;
}

.pay .img-box img {
  width: 100%;
  display: block;
}

/* 상품 정보 */
.pay-box {
  width: 450px;
}

/* 상품명 */
.product-name {
  margin-bottom: 40px;
}

.product-name h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
}

/* 판매가 */
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 20px;
  margin-bottom: 30px;

  border-bottom: 1px solid #ddd;
}

.price h3 {
  font-size: 20px;
  font-weight: 600;
}

/* 수량 + 총금액 */
.count-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 수량 선택 */
.count {
  display: flex;
  align-items: center;
  gap: 10px;
}

.count button {
  width: 45px;
  height: 45px;

  border: 1px solid #ddd;
  background: #fff;

  font-size: 24px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.2s;
}

.count button:hover {
  background: #f5f5f5;
}

.quantity {
  width: 40px;

  text-align: center;

  font-size: 18px;
  font-weight: 600;
}

/* 총금액 */
.total h3 {
  font-size: 28px;
  font-weight: 700;
}

/* 구매 버튼 */
.pay-buttons {
  display: flex;
  gap: 15px;

  margin-top: 40px;
}

.pay-buttons button {
  flex: 1;
  height: 60px;

  border: none;

  font-size: 18px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.2s;
}

/* 장바구니 */
.cart-btn {
  border: 1px solid #222 !important;
  background: #fff;
  color: #222;
}

.cart-btn:hover {
  background: #f5f5f5;
}

/* 바로구매 */
.buy-btn {
  background: #222;
  color: #fff;
}

.buy-btn:hover {
  opacity: 0.9;
}
/* 제품 소개 */
.produce {
  padding-top: 200px;
  background: linear-gradient(to top, #d2e5ff, #fff);
}
/* 텍스트 */
.produce .txt {
  font-size: 1.5rem;
  text-align: center;
  color: #2b56aa;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
  white-space: nowrap;
}
/* 형광펜 효과 */
.produce .txt h1 {
  background: linear-gradient(to top, #fff490 50%, transparent 50%);
  margin: 0 15%;
}
/* 이미지 */
.produce .img-box {
  width: 100%;
  padding: 30px 0;
}
.produce .product-img {
  position: relative;
  width: 65%;
  max-width: 500px;
  margin: auto;
}
.produce .product-img > img {
  width: 100%;
  display: block;
}
.produce .emblem {
  position: absolute;
  top: 5%;
  right: -15%;
  display: flex;
  flex-direction: column;
  width: 30%;
}
/* 자가진단 체크리스트 */
.self-test {
  position: relative;
  width: 65%;
  max-width: 640px;
  background-color: #ffffff;
  border-radius: 32px;
  padding: 64px 20px 48px 20px;
  margin: 100px auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}
/* 제목 */
.title {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0043a3;
  color: #ffffff;
  line-height: 80px;
  padding: 0 100px;
  border-radius: 30px;
  white-space: nowrap;
  box-shadow: 0 4px 10px rgba(43, 92, 183, 0.3);
}
/* 체크 이미지 */
#check {
  position: absolute;
  top: -8%;
  right: 10%;
}
/* 체크리스트 문항 디자인 */
.checklist {
  padding: 18px 0;
  border-bottom: 1px solid #f0f4f8;
}
.check-list li {
  display: flex;
  gap: 5%;
  padding: 30px 0;
  margin: 0 30px;
  border-bottom: 1px solid #ddd;
}
.check-list li:last-child {
  border-bottom: none;
}
/* 커스텀 체크박스 구현 */
.custom-checkbox {
  position: absolute;
  opacity: 0;
}
.custom-checkbox + label {
  position: relative;
  padding-left: 36px;
  cursor: pointer;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  user-select: none;
}

/* 체크박스 기본 사각형 박스 */
.custom-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 24px;
  height: 24px;
  background-color: #bcd1f3;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

/* 체크박스 활성화 상태 스타일 */
.custom-checkbox:checked + label::before {
  background-color: #2b5cb7;
}

/* 체크박스 내부 체크 아이콘(V) 생성 */
.custom-checkbox:checked + label::after {
  content: "✓";
  position: absolute;
  left: 6px;
  top: 1px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

/* 마우스 호버 효과 */
.checklist-item:hover label {
  color: #1a202c;
}

/* 하단 점선 구분선 */
.divider {
  border: none;
  border-top: 2px dashed #aaa;
  margin: 40px 0;
}

/* 하단 문구 영역 */
.check-result {
  text-align: center;
  margin: 80px 0 50px 0;
  color: #0043a3;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}
/* 제품 특장점 */
.specialty {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0 50px;
  align-items: baseline;
}
.specialty #protein,
.specialty #fragrance {
  width: 200px;
}
.specialty #acid {
  width: 300px;
}
.specialty .spec {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.specialty .text-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  color: #0043a3;
}
.specialty p {
  font-size: 15px;
  white-space: nowrap;
}
/* 포인트 */
.point {
  /* display: grid; */
  /* place-items: center; */
  /* min-height: 100vh; */
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.point-desc {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  margin: auto;
  padding-top: 80px;
  align-content: center;
}
/* 포인트 제목 */
.point-title {
  position: absolute;
  top: -36px;
  left: -36px;
  display: flex;
  width: 60%;
}
.point-title h3 {
  color: #fff;
  line-height: 50px;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 10px 40px 10px 50px;
  border-radius: 30px 0 0 30px;
  background-color: #0043a3;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
}
.point-title h4 {
  color: #000;
  line-height: 50px;
  white-space: nowrap;
  width: 100%;
  padding: 10px 30px;
  text-align: center;
  border-radius: 0 30px 30px 0;
  background-color: #fff;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
}
/* 포인트 1 : 단백질 */
#point-1 .img-box {
  width: 70%;
  /* background-color: yellowgreen; */
}
#point-1 img {
  width: 100%;
  display: block;
}
#point-1 .txt-box {
  margin: 20px 0 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #0043a3;
  font-weight: 500;
}
#point-1 .txt-box .txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
/* 포인트 2 : 약산성 */
#point-2 .img-box {
  width: 70%;
  /* background-color: yellowgreen; */
}
#point-2 img {
  width: 100%;
  display: block;
  opacity: 0.8;
}
#point-2 .txt-box {
  color: #0043a3;
  font-weight: 500;
  margin: 40px 0;
  text-align: center;
}
/* 향기 노트 전체 */
.fragrance {
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* 카드 */
.fragrance-box {
  width: 220px;
  background: #fff;
  border: 1px solid #e3e7ef;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;

  transition: all 0.3s ease;
}

.fragrance-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

/* 이미지 */
.fragrance-box .img-box {
  width: 100%;
  padding: 8px;
}

.fragrance-box .img-box img {
  width: 100%;
  object-fit: cover;
  display: block;
}
.fragrance-box .img-box img:last-child{
  background-color: rgba(0, 0, 0, 0.1);
}
/* 텍스트 */
.fragrance-box .txt {
  padding: 14px 12px 18px;
  color: #5f7fc4;
}

/* Top / Middle / Base */
.fragrance-box .txt h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d8deea;
}

#point-3 .txt-box {
  color: #0043a3;
  font-weight: 500;
  margin: 50px 0;
  text-align: center;
}

/* 모바일 */
@media (max-width: 768px) {
  .fragrance {
    flex-direction: column;
    align-items: center;
  }

  .fragrance-box {
    width: 100%;
    max-width: 320px;
  }
}
/* 리뷰 */
.review-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px;
  background-color: #d2e5ff;
}

/* 상단 점수 */
.review-score-box {
  background: #1845a9;
  color: #fff;
  text-align: center;
  padding: 50px 20px 30px;
  border-radius: 10px 10px 0 0;
}

.review-title {
  font-size: 18px;
  font-weight: 500;
}

.score {
  margin-top: 20px;
}

.score .big {
  font-size: 72px;
  font-weight: 700;
}

.score .small {
  font-size: 28px;
  font-weight: 600;
}
.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  width: fit-content;
  margin: 0 auto;
}

.stars i {
  display: block;

  font-size: 42px;
  line-height: 1.2;

  background: linear-gradient(
    135deg,
    #795517 0%,
    #fff8c9 45%,
    #e4a02a 55%,
    #a5741f 70%,
    #795517 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  filter: drop-shadow(0 1px 1px rgba(255, 255, 255, 0.4))
    drop-shadow(0 2px 2px rgba(0, 0, 0, 0.15));
}

/* 만족도 영역 */
.satisfaction {
  background: #fff;
  padding: 40px 60px;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

.item span {
  width: 200px;
  font-size: 15px;
  color: #1845a9;
  font-weight: 600;
}

.bar {
  position: relative;

  width: 600px;
  height: 60px;

  background: #dbe5ff;
  border-radius: 999px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background: linear-gradient(
    90deg,
    #e8f0fc 0%,
    #c2daff 30%,
    #90bcff 70%,
    #77AEFF 100%
  );
  border-radius: 999px;
}
.label {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: #1f49ad;
  font-size: 1.5rem;
  font-weight: 600;
}

.item strong {
  width: 100px;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 700;
  color: #1f49ad;
}

/* 리뷰 카드 */
.review-list {
  background: #fff;
  padding: 20px 30px 60px;
  border-radius: 0 0 10px 10px;
}

.review-card {
  width: 80%;
  display: flex;
  gap: 25px;
  align-items: center;

  margin: 35px;
  padding: 20px;

  background: #eef4ff;
  border-radius: 15px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.review-card:nth-child(2) {
  margin-left: 120px;
}

.review-card img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}

.review-content {
  flex: 1;
}

.review-content .id {
  font-size: 13px;
  color: #666;
}

.review-content h4 {
  margin: 10px 0;
  font-size: 1rem;
  font-weight: 700;
  color: #222;
  white-space: nowrap;
}

.review-content p {
  line-height: 1.8;
  font-size: 0.8rem;
  color: #555;
}
/* FAQ */
.faq {
  padding: 60px 0 180px 0;
  background: #d2e5ff;
}

.faq-inner {
  width: 85%;
  max-width: 1300px;
  margin: auto;

  background: #fff;
  border-radius: 10px;

  padding: 70px 50px;
}

.faq-inner h2 {
  text-align: center;
  color: #0043a3;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 60px;
}

.faq-item {
  border-bottom: 1px dashed #cfcfcf;
  padding: 25px 0;
}

.faq-question {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #0043a3;
  color: #fff;

  border: none;
  border-radius: 999px;

  padding: 18px 30px;

  font-size: 1.1rem;
  font-weight: 600;

  cursor: pointer;
}

.faq-icon {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
}

.faq-answer {
  display: none;
  padding: 25px 18px 10px;
}

.faq-answer p {
  font-size: 0.95rem;
  line-height: 1.9;
  color: #333;
}

/* 첫 번째 열려있는 상태 */
.faq-item.active .faq-answer {
  display: block;
}