header {
  position: fixed;
  top: 0;
  width: 100%;
  /* width: 1920px; */
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #bcd8ff; */
  background-color: #fff;
  box-shadow:  0 5px 10px rgba(0, 0, 0, 0.1);
}
/* 로고 */
.header-logo img {
  width: 120px;
  padding: 10px 20px;
  filter: brightness(0.3);
}
/* 헤더 오른쪽 */
.header-right {
  display: flex;
  gap: 50px;
}
/* 메뉴 */
.header-menu {
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 10px;
}
.header-menu i {
  font-size: 20px;
  /* font-weight: 400; */
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.my {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
/* view-more */
.view-more {
  width: 80px;
  padding: 20px;
  text-align: center;
  font-size: 25px;
}
/* 메인 */
main {
  margin-top: 80px;
}
main .inner {
  max-width: 1400px;
  margin: auto;
  background-color: #D2E5FF;
}
/* 구매창 */
.pay{
  height: 500px;
  display: flex;
  align-items: center;
  background-color: #fff; 
}
.pay .img-box{
  position: relative;
  width: 50%;
  height: 100%;
  /* background-color: #999; */
}
.pay .img-box img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 height: 80%;
}
.pay-box{
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;
  height: 60%;
  padding: 30px;
  border: 1px solid #999;
  border-radius: 10px;
}
.product-name{
  color: #0043A3;
}
.price{
  display: flex;
  gap: 30px;
}
.count-total{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  line-height: 70px;
  background-color: #D2E5FF;
  border-radius: 10px;
}
/* 제품 소개 */
.produce{
  /* width: 1400px; */
  background: linear-gradient(to top, #D2E5FF, #FFFFFF );
}
.produce .txt{
  padding: 20px;
  color: #0043A3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.produce .txt h1, h3, h4{
  margin: auto;
}
.produce .txt h1{
  position: relative;
}
.produce .txt span{
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 350px;
  height: 30px;
  background-color: #F6FF00;
  opacity: 50%;
}
.produce .img-box{
  margin: auto;
  position: relative;
  display: flex;
  /* align-items: center; */
  width: 50%;
  /* background-color: yellowgreen; */
}
.produce img{
  display: block;
  width: 100%;
}
.produce .emblem{
  position: absolute;
  top: 50px;
  right: -150px;
  display: flex;
  flex-direction: column;
  width: 200px;
}
/* 자가진단 체크리스트 */
.self-test .title{
  margin: auto;
  width: 400px;
  line-height: 80px;
  color: #fff;
  border-radius: 30px;
  background-color: #0043A3;
}
